[Unit]
Description=Pi Hero Bluetooth NEP PAN
After=bluetooth.service
Requires=bluetooth.service

[Service]
# nap: Network Access Point for up to 7 PANUs
# gn: Group Network for up to 7 PANUs
# panu: Access to a NAP or GN
ExecStart=/usr/bin/bt-network --server nap pan0
Type=simple

[Install]
WantedBy=bluetooth.target
