[Unit]
Description=dnsmasq-based DHCP server for pan0
Requires=network.target
Wants=nss-lookup.target
Before=nss-lookup.target
After=network.target
After=bt-network.service
BindsTo=sys-subsystem-net-devices-pan0.device
After=sys-subsystem-net-devices-pan0.device

[Service]
Type=forking
PIDFile=/run/dnsmasq/dnsmasq-pan0.pid
ExecStart=/usr/sbin/dnsmasq --conf-file=/dev/null --pid-file=/run/dnsmasq/dnsmasq-pan0.pid --port=0 --bind-interfaces --interface=pan0 --dhcp-range={{ pan0_cidr_first_usable }},{{ pan0_cidr_last_usable }},{{ pan0_cidr_netmask }},1h --dhcp-authoritative --leasefile-ro
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
