[Unit]
Description=USB gadget setup
After=systemd-modules-load.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/usb-gadget-setup

[Install]
WantedBy=sysinit.target
