{# Documentation: https://manpages.org/etc-network-interfaces/5 #}
{# @formatter:off #}

# bring interface up at boot time
auto usb0

allow-hotplug usb0

# static IPv4 configuration
iface usb0 inet static
      address {{ cidr_address }}
      netmask {{ cidr_netmask }}
