{# Hint: check config with `testparm -v` #}
{# Documentation: https://www.samba.org/samba/docs/current/man-html/smb.conf.5.html #}
{# @formatter:off #}
[global]
        workgroup = WORKGROUP
        security = USER

        # Enforce SMBv2 or SMBv3
        server min protocol = SMB2

        # Disable weak NTLMv1 authentication
        ntlm auth = ntlmv2-only

        # Stronger cipher suites for TLS (if using)
        tls enabled  = yes
        tls keyfile  = /etc/samba/tls/key.pem
        tls certfile = /etc/samba/tls/cert.pem
        tls cafile   = /etc/samba/tls/ca.pem
        tls priority = NORMAL:-VERS-SSL3.0:-VERS-TLS1.0:-VERS-TLS1.1:-VERS-DTLS-ALL:-CIPHER-ALL:-MAC-ALL:-KX-ALL

        # Better performance
        use sendfile = Yes

        # Better macOS compatibility
        vfs objects = catia fruit streams_xattr
        fruit:metadata = stream
        fruit:resource = stream
        fruit:model = {{ device_info.model | default(default_model, true) }}
        fruit:posix_rename = Yes
        fruit:veto_appledouble = No
        fruit:nfs_aces = No
        fruit:wipe_intentionally_left_blank_rfork = yes
        fruit:delete_empty_adfiles = Yes

        # no registration by Samba, due to inconsistencies regarding the hostname
        multicast dns register = No

[homes]
        comment = Home Directory of %S
        # Only hides homes share, the actual user-specific shares are still visible
        # because the global browseable setting is used for them.
        browseable = No
        read only = No
        create mask = 0644

[rootfs]
        comment = Root Directory (read-only)
        path = /
        read only = Yes
