<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_device-info._tcp</type>
    <txt-record value-format="binary-base64">model={{ device_info.model | b64encode }}</txt-record>
    <txt-record value-format="binary-base64">machine={{ device_info.machine | b64encode }}</txt-record>
  </service>
</service-group>
